RewriteEngine On
RewriteBase /backend/acomodo/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /backend/acomodo/index.php [L]
RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]